.tooltip {
  display: none;
  padding: 5px;
  border: 1px solid black;
}

.tooltip.tooltip_active {
  display: block;
  position: absolute;
}

.right_bottom {
  position: fixed;
  bottom: 5px;
  right: 0;
}

.to-create-scroll {
  height: 2000px;
}