.target {
    width: 80px;
    height: 70px;
    position: absolute;
    left: 20px;
    background: lightblue;
}

.target::before {
    position: absolute;
    top: 5px;
    left: 5px;
}

#set-timeout {
    top: 20px;
}

#raf {
    top: 100px;
}

#set-timeout::before {
    content: "setTimeout";
}

#raf::before {
    content: "rAF";
}